// http://ionicframework.com/docs/v2/theming/


// App Shared Variables
// --------------------------------------------------
// Shared Sass variables go in the app.variables.scss file
@import 'app.variables';


// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here


// Ionic Material Design Sass
// --------------------------------------------------
// Custom App variables must be declared before importing Ionic.
// Ionic will use its default values when a custom variable isn't provided.
@import "ionic.md";


// App Shared Sass
// --------------------------------------------------
// All Sass files that make up this app goes into the app.core.scss file.
// For simpler CSS overrides, custom app CSS must come after Ionic's CSS.
@import 'app.core';


// App Material Design Only Sass
// --------------------------------------------------
// CSS that should only apply to the Material Design app

[tabbarPlacement=bottom] ion-tabbar-section tabbar {
    box-shadow: 0px -2px 5px rgba(0,0,0,0.26);
    z-index:101
}
[tabbarPlacement=top] ion-tabbar-section tabbar {
    box-shadow: 0px 2px 5px rgba(0,0,0,0.26);
    z-index:101
}
tab-highlight {
    height:3px;
}