<ion-content class="business-form no-header">
  <form #mainForm="ngForm" novalidate>
    <ion-list>
      <ion-item style="text-align:center;background-color:#e8f4ff;font-weight:bold" *ngIf="hasBaseinfo">
        {{result.others}} , {{result.routeName}} , {{result.fangxiang}}
        <button item-right outline (click)="editBaseinfo()">修改</button>
      </ion-item>
      <ion-item *ngIf="!hasBaseinfo">
        <ion-label>天气情况</ion-label>
        <ion-select [(ngModel)]="result.others" (ionChange)="onBaseinfoChange()" cancelText="取消" okText="确定" interface="action-sheet">
          <ion-option [value]="w" *ngFor="let w of weathers">{{w}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item *ngIf="!hasBaseinfo">
        <ion-label required>高速名称</ion-label>
        <ion-select [(ngModel)]="result.routeName" (ionChange)="onRoadChange()" cancelText="取消" okText="确定" interface="action-sheet">
          <ion-option [value]="item.totalRouteName" *ngFor="let item of roads">{{item.totalRouteName}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item *ngIf="!hasBaseinfo">
        <ion-label required>行车方向</ion-label>
        <ion-select [(ngModel)]="result.fangxiang" (ionChange)="onBaseinfoChange()" cancelText="取消" okText="确定" interface="action-sheet">
          <ion-option [value]="item.value" *ngFor="let item of directions">{{item.text}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label required>车　　道</ion-label>
        <ion-select [(ngModel)]="result.chedao" cancelText="取消" okText="确定" multiple="true" interface="action-sheet">
          <ion-option [value]="item" *ngFor="let item of chedaoItems">{{item}}</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label required>病害位置</ion-label>
        <ion-select [(ngModel)]="result.binghaiweizhi" cancelText="取消" okText="确定" interface="action-sheet">
          <ion-option [value]="item.name" *ngFor="let item of binghaiweizhiItems">{{item.name}}</ion-option>
        </ion-select>
      </ion-item>
      
      <!--道路桩号,联络线,区间,其他-->
      <!--单一桩号-->
      <ion-item *ngIf="result.binghaiweizhi=='道路桩号' || result.binghaiweizhi == '联络线'">
        <ion-label required>桩　　号</ion-label>
        <ion-input type="number" [(ngModel)]="result.stakeNumK1" name="stakeNumk1" (ngModelChange)="onStakeChange('k' ,$event)"  ngControl="stakeNumK1" #stakeNumK1="ngForm" required max=10000 class="stakeNumK"></ion-input>
        <ion-input type="number" [(ngModel)]="result.stakeNumP1" name="stakeNump1" (ngModelChange)="onStakeChange('p' ,$event)"  ngControl="stakeNumP1" #stakeNumP1="ngForm" required max=1000 class="stakeNumP"></ion-input>
      </ion-item>
      <!--桩号区间-->
      <ion-item *ngIf="result.binghaiweizhi=='区间'">
        <ion-label required>开始桩号</ion-label>
        <ion-input type="number" [(ngModel)]="result.stakeNumK1" (ngModelChange)="onStakeChange('k' ,$event)"   ngControl="stakeNumK1" #stakeNumK1="ngForm" required maxLength="4" class="stakeNumK"></ion-input>
        <ion-input type="number" [(ngModel)]="result.stakeNumP1" (ngModelChange)="onStakeChange('p' ,$event)" ngControl="stakeNumP1" #stakeNumP1="ngForm" required maxLength="3" class="stakeNumP"></ion-input>
      </ion-item>
      <ion-item *ngIf="result.binghaiweizhi=='区间'">
        <ion-label required>结束桩号</ion-label>
        <ion-input type="number" [(ngModel)]="result.stakeNumK2" ngControl="stakeNumK2" #stakeNumK2="ngForm" required maxLength="4" class="stakeNumK"></ion-input>
        <ion-input type="number" [(ngModel)]="result.stakeNumP2" ngControl="stakeNumP2" #stakeNumP2="ngForm" required maxLength="3" class="stakeNumP"></ion-input>
      </ion-item>
      <!--其他文本输入-->
      <ion-item *ngIf="result.binghaiweizhi=='其他'">
        <ion-label required>其　　他</ion-label>
        <ion-input type="text" [(ngModel)]="result.stakeNum" placeholder="请填写位置信息" ngControl="stakeNum" #stakeNum="ngForm" required></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label required>类　　别</ion-label>
        <ion-select [(ngModel)]="result.catalog" (ionChange)="onCatalogChange()" interface="action-sheet" cancelText="取消" okText="确定">
          <ion-option [value]="item.name" *ngFor="let item of catalogs">{{item.name}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label required>分项名称</ion-label>
        <ion-select [(ngModel)]="result.parentClg" (ionChange)="onParentCatalogChange()" interface="action-sheet" cancelText="取消"
          okText="确定">
          <ion-option [value]="item.name" *ngFor="let item of parentCatalogs">{{item.name}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label required>巡查项目</ion-label>
        <ion-select [(ngModel)]="result.subClg" (ionChange)="onSubCatalogChange()" interface="action-sheet" cancelText="取消" okText="确定">
          <ion-option [value]="item.name" *ngFor="let item of subCatalogs">{{item.name}}</ion-option>
        </ion-select>
      </ion-item>
      <!--
      <p [hidden]="gongzuoliang.valid || submitted == false"  danger style="padding-left:100px">
        请输入用户名
      </p>
      -->
      <ion-item>
        <ion-label required>损坏情况</ion-label>
        <ion-select [(ngModel)]="result.dealwith" (ionChange)="onDealwithChange()" cancelText="取消" okText="确定" interface="action-sheet">
          <ion-option [value]="item.name" *ngFor="let item of dealwithItems">{{item.name}}</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>备　　注</ion-label>
        <ion-textarea [(ngModel)]="result.memo" placeholder="填写备注" ngControl="memo" #memo="ngForm"></ion-textarea>
      </ion-item>
    </ion-list>
  </form>
</ion-content>