.common-detail-page {
    ion-label {
        line-height:180%
    }
    ion-item-options button {
        min-width:80px;
    }    
    span.sn {
        font-size:2.4rem;     
        width:40px;
        text-align:right; 
    }
}
