<ion-content class="business-form">
  <form #mainForm="ngForm" novalidate>
    <ion-list>

      <ion-item-divider light>填写维修反馈</ion-item-divider>
      <ion-item>
        <ion-label required>验收完成时间</ion-label>
        <ion-input type="date" [(ngModel)]="result.PDAFeedbackTime" ngControl="PDAFeedbackTime" #PDAFeedbackTime="ngForm" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label required>维修质量评估</ion-label>
        <ion-select [(ngModel)]="result.Remark" cancelText="取消" okText="确定" interface="action-sheet">
          <ion-option [value]="item" *ngFor="let item of remarks">{{item}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label required>是否同意计量</ion-label>
        <ion-select [(ngModel)]="result.IsAgreeAudit" cancelText="取消" okText="确定" interface="action-sheet">
          <ion-option [value]="item" *ngFor="let item of booleans">{{item}}</ion-option>
        </ion-select>        
        booleans
      </ion-item>
      <ion-item>
        <ion-label required>监理单位验收人</ion-label>
        <ion-select [(ngModel)]="result.ManageDeptChecker" cancelText="取消" okText="确定" interface="action-sheet">
          <ion-option [value]="item.userName" *ngFor="let item of jlUsers">{{item.userName}}</ion-option>
        </ion-select>   
      </ion-item>
      <ion-item>
        <ion-label required>维修单位验收人</ion-label>
        <ion-select [(ngModel)]="result.RepairDeptChecker" cancelText="取消" okText="确定" interface="action-sheet">
          <ion-option [value]="item.userName" *ngFor="let item of wxUsers">{{item.userName}}</ion-option>
        </ion-select> 
      </ion-item>
      <ion-item>
        <ion-label required>验收确认单填报人</ion-label>
        <ion-input type="text" [(ngModel)]="result.CheckReporter" ngControl="CheckReporter" #CheckReporter="ngForm" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>验收说明</ion-label>
        <ion-textarea type="text" [(ngModel)]="result.yanshouFeedbackDesc" ngControl="yanshouFeedbackDesc" #yanshouFeedbackDesc="ngForm"></ion-textarea>
      </ion-item>

    </ion-list>
  </form>
</ion-content>